body {
    color: rgba(255, 255, 255, 0.8);
    min-width: 581px;
}

.hex {
    border: none!important;
    padding: 1px 0 0 8px;
}

.annotations {
    display: none!important;
}

.hex-viewer .hex span:hover, .hex-viewer .asc span:hover, .hex-viewer .annotations .line:hover, .hex-viewer .hex span.hover, .hex-viewer .asc span.hover, .hex-viewer .annotations .line.hover {
    background: #960!important;
}

.hex-viewer .hex span.selected, .hex-viewer .asc span.selected, .hex-viewer .annotations .line.selected {
    background: #c90!important;
}

::-webkit-scrollbar {
     width: 17px;
 }

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-corner {
    background: #242424;
}